{% load static %}
<form method="post" id="login-form">
    {% csrf_token %}
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <div class="alert alert-danger" role="alert" id="error-message">
    </div>
    <button type="submit" id="login-submit" class="btn btn-primary">Submit</button>
</form>      
<script src="{% static 'js/login.js' %}"></script>